* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}
.board__container {
  height: 37.5rem;
  width: 37.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical_text {
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: sans-serif;
  padding: 0.8rem;
  color: wheat;
}

.vertical_text button {
  margin-top: 1.2rem;
  cursor: pointer;
  background-color: rgb(63, 63, 63);
  border: 2px solid white;
  border-radius: 1rem;
}
